@model IEnumerable<AllCourseViewModel>

@{ViewData["Title"] = "All Courses";}

<h2 class="display-4">Courses : </h2>

<div class="row">
    <table class="table">
        <thead class="badge-info">
            <tr>
                <th scope="col">CourseId</th>
                <th scope="col">Teacher</th>
                <th scope="col">Subject</th>
                <th scope="col">TypeSubject</th>
            </tr>
        </thead>
        @foreach (var cs in Model)
        {
            <tbody>
                <tr>
                    <td>@cs.CourseId</td>
                    <td>@cs.TeacherName</td>
                    <td>@cs.SubjectName</td>
                    <td>@cs.TypeSubjectName</td>

                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Courses",
                              new { id = cs.CourseId },
                              new { @class = "btn btn-success" })
                        </td>
                         <td>
                            @Html.ActionLink("Delete", "Delete", "Courses",
                              new { id = cs.CourseId },
                              new { @class = "btn btn-danger", onclick = "alert('This Row Will be Deleted');" })
                        </td>
                    }
                </tr>
            </tbody>
        }
    </table>
</div>