@model IEnumerable<AllGradeModel>

@{ViewData["Title"] = "All Grades";}

<h2 class="display-4">Grades : </h2>

<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Term_Number</th>
                <th scope="col">Date</th>
                <th scope="col">StudentName</th>
                <th scope="col">SubjectName</th>
                <th scope="col">GradeStudents</th>
                <th scope="col">TypeGradeName</th>
            </tr>
        </thead>


        @foreach (var gr in Model)
        {

            <tbody>
                <tr>
                    <td class="text-center">@gr.Term_Number</td>
                    <td>@gr.Date</td>
                    <td>@gr.StudentName</td>
                    <td>@gr.SubjectName</td>
                    <td>@gr.GradeStudent</td>
                    <td>@gr.TypeGradeName</td>
                </tr>
            </tbody>
        }

    </table>

</div>
