@model ScheduleHourFormModel

<div class="row">
    <div class="col-md-8 col-sm-12 offset-md-2">
        <form method="post">
            <div class="form-group">
                <label asp-for="Date">Date</label>
                <input asp-for="Date" class="form-control" placeholder="xx:xx:xx">
                <span asp-validation-for="Date" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId"></label>
                <select asp-for="ScheduleId" class="form-control">
                    @foreach (var schedule in Model.SchSchedule)
                    {
                        <option value=@schedule.ScheduleId>
                            @schedule.SubjectName - @schedule.TeacherName - @schedule.Term_Number -
                            @schedule.DayOfWeek - @schedule.SchoolHour
                        </option>
                    }
                </select>
                <span asp-validation-for="ScheduleId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topics">Topics</label>
                <input asp-for="Topics" class="form-control" placeholder="Topics ">
                <span asp-validation-for="Topics" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId"></label>
                <select asp-for="StudentId" class="form-control">
                    @foreach (var student in Model.SchStudent)
                    {
                        <option value=@student.StudentId>
                            @student.NumInClass - @student.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="StudentId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeAbsenceId"></label>
                <select asp-for="TypeAbsenceId" class="form-control">
                    @foreach (var typeAbsense in Model.SchTypeAbsence)
                    {
                        <option value=@typeAbsense.TypeAbsenceId>
                            @typeAbsense.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="TypeAbsenceId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeAbsenceReasonId"></label>
                <select asp-for="TypeAbsenceReasonId" class="form-control">
                    @foreach (var typeAbsenceReason in Model.SchTypeAbsenceReason)
                    {
                        <option value=@typeAbsenceReason.TypeAbsenceReasonId>
                            @typeAbsenceReason.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="TypeAbsenceReasonId" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary float-right" type="submit" value="Save" />
        </form>

    </div>

</div>

