@model ScheduleHourSearchViewModel

@{ViewData["Title"] = "All ScheduleHours";}

<h2 class="display-4">ScheduleHours : </h2>

<form method="get">
    <div class="row m-5 border border-primary p-0">
        <div class="form-group col-md-3 m-2">
            <label asp-for="SearchTermOne">Search by DayOfWeek</label>
            <input asp-for="SearchTermOne" class="form-control" placeholder="Search by DayOfWeek">
        </div>

        <div class="form-group col-md-3 m-2">
            <label asp-for="SearchTermTwo">Search by SchoolHour</label>
            <input asp-for="SearchTermTwo" class="form-control" placeholder="Search by SchoolHour">
        </div>
        
        <div class="form-group col-md-3 m-2">
            <label asp-for="SearchTermThree">Search by Topics</label>
            <input asp-for="SearchTermThree" class="form-control" placeholder="Search by Topics">
        </div>

        <div class="form-group col-md-3 m-2">
            <label asp-for="SubjectName">SubjectName</label>
            <select asp-for="SubjectName" class="form-control">
                <option value="">All</option>
                @foreach (var subjectName in Model.AllSubjectsName)
                {
                    <option value=@subjectName>@subjectName</option>
                }
            </select>
        </div>

        <div class="form-group col-md-3 m-2">
            <label asp-for="TeacherName">TeacherName</label>
            <select asp-for="TeacherName" class="form-control">
                <option value="">All</option>
                @foreach (var teacherName in Model.AllTeachersName)
                {
                    <option value=@teacherName>@teacherName</option>
                }
            </select>
        </div>

        <input class="btn btn-primary float-right col-md-3 m-1" type="submit" value="Search" />
    </div>
</form>

<div class="row">

    <table class="table">
        <thead class="badge-info">
            <tr class="text-center">
                <th scope="col">Term_<br>Number</th>
                <th scope="col">Date</th>
                <th scope="col">DayOf<br>Week</th>
                <th scope="col">School<br>Hour</th>
                <th scope="col">ScheduleSubjectName</th>
                <th scope="col">ScheduleTeacherName</th>
                <th scope="col">Topics</th>
                <th scope="col">AbsenceStudent<br>NimberInClass</th>
            </tr>
        </thead>


        @foreach (var schh in Model.AllScheduleHours)
        {

            <tbody>
                <tr>
                    <td class="text-center">@schh.Term_Number</td>
                    <td>@schh.Date</td>
                    <td class="text-center">@schh.DayOfWeek</td>
                    <td class="text-center">@schh.SchoolHour</td>
                    <td>@schh.ScheduleSubjectName</td>
                    <td>@schh.ScheduleTeacherName</td>
                    <td>@schh.Topics</td>
                    @if (schh.AbsenceStudentNimberInClass != 99)
                    {
                        <td class="text-center">@schh.AbsenceStudentNimberInClass</td>
                    }
                    else { <td class="text-center">-</td>}
                    <td>
                        @Html.ActionLink("Edit", "Edit", "ScheduleHours",
                         new { id = schh.ScheduleHourId},
                         new { @class = "btn btn-success" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "ScheduleHours",
                         new { id = schh.ScheduleHourId},
                         new { @class = "btn btn-danger", onclick = "alert('This Row Will be Deleted');" })
                    </td>

                </tr>
            </tbody>
        }

    </table>

</div>
